<!-- footer.html -->
<div class="container mx-auto px-4 lg:px-20 xl:px-32 pb-6">
  <div class="flex flex-col items-center space-y-4">
    <nav class="flex flex-wrap justify-center space-x-4">
      <a href="#" class="text-white hover:text-gray-500">Terms of Service</a>
      <a href="#" class="text-white hover:text-gray-500">Privacy Policy</a>
      <a href="#" class="text-white hover:text-gray-500">Contact Us</a>
      <a href="#" class="text-white hover:text-gray-500">Help</a>
      <a href="#" class="text-white hover:text-gray-500">Feedback</a>
    </nav>
  </div>
</div>
